<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand font-weight-bolder" style="cursor: pointer;">ٌRecipeBook</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" *ngIf="isAuthentication"><a class="nav-link" routerLink="/recipes">Recipes</a></li>
            <li routerLinkActive="active" *ngIf="!isAuthentication"><a class="nav-link" routerLink="/auth">Authentication</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
        </ul>
        
        <ul class="navbar-nav">
            <li class="nav-item dropdown" *ngIf="isAuthentication">
                <a class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
                    <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
                </div>
            </li>
            <li class="nav-item" *ngIf="isAuthentication">
                <a class="nav-link" routerLink="" (click)="onLogout()">Logout</a>
            </li>

        </ul>
    </div>
</nav>




<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="" style="cursor: pointer;">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li routerLinkActive="active"><a class="nav-link" routerLink="/recipes">Recipes</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" data-toggle="dropdown" aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
                    <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

-->









